.listings-main {
	padding: 0px 80px;
}

.grid-container-container {
	position: relative;
	display: block;
	padding: 0px 80px;
	padding-bottom: 10px;
	container-type: inline-size;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	/* spacing in btwn */
	row-gap: 40px;
	column-gap: 24px;
}

.grid-item {
	display: grid;
	grid-template-rows: auto 88px;

}

.listings-photo-container {
	display:grid;
	position: relative;
	/* display:flex; */
	justify-items: center;
	align-items: center;
	min-width: 0px;
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 12px;
	/* THIS IS VERY IMPORTANT FOR CONTROLLING GRID ITEM DIMENSIONS~!!! */
	/* Here, since WxH are functions, the input is the container grid column width for W. */
	aspect-ratio: 325/309;
}

.hover-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* background-color: rgba(100,100,100,0.5); */
	transition: background-color 0.1s linear;
}

.hover-overlay:hover {
	background-color: rgba(0,0,0,0.2);
}

.listings-photo {
	/* Code needed for the image to fit its container in a certain way. */
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.listing-favorite-button, .listing-favorite-button-background {
	position: absolute;
  top: 15px;
  right: 15px;
	z-index: 5;
}

.listing-favorite-button > i:first-child {
	font-size: 24px;
	/* text-shadow: 0px 0px 2px white; */
	/* Will override color (regardless of order) */
	-webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: white;
	/* -webkit-text-stroke: 1px #F8F8F8; */
}

.listing-favorite-button-background > i:last-child {
	font-size: 24px;
	color: rgba(0,0,0,0.5);
}

.grid-item * {
	font-size: 15px;
}

.listings-text-container {
	display: flex;
	flex-direction: column;
	height: 88px;
}

.listings-text-container p {
	display: inline;
	padding-top: 5px;
	font-weight: 300;
	color: rgb(113,113,113);
	text-overflow: ellipsis;
}

.listings-index-price-para * {
	padding-top: 5px;
	color: rgb(0,0,0);
}

.listings-text-container > p:nth-of-type(1), .listings-index-price-figure {
	letter-spacing: 0.05px;
	font-weight: 500;
	color: rgb(0,0,0);
}

.listings-text-container > p:nth-of-type(1) {
	padding-top: 0px;
	/* white-space:nowrap; */
	/* text-overflow: clip; */

	/* Limit to only one line by HIDING! */
	/* overflow: hidden;
	max-height: 1em; */
}

.listings-index-price-para {
	display: flex;
	flex-direction: row;
}

.grid-item {
  position: relative;
  font-size: 25px;
  color: #222;
	/* overflow: hidden; */
	/* overflow: scroll; */
}

/* @container (min-width: 800px){ */
@container (width < 940px){
	.grid-item {
		color: green;
	}

	.grid-container {
		grid-template-columns: repeat(3, 200px);
		grid-template-columns: repeat(3, 1fr);
	}
}

@container (width < 648px){
	.grid-item {
		color: blue;
	}

	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.grid-item:nth-child(odd) {
  /* background-color: #5bbdfa; */
}

.grid-item::after {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 15px;
  font-weight: bold;
}

/* MAP INTERACTION - START */
/* MAP INTERACTION - START */

.index-map-toggle-container {
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: pink;
	top: 0px;
	bottom: 200px;
	left: 0px;

}

/* MAP INTERACTION - END */
/* MAP INTERACTION - END */