/* ------------------ GLOBAL STYLES ------------------ */
.heading-1 {
	/* width: 100%; */
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 4px;
	text-wrap: nowrap;
}

.heading-2 {
	/* width: 100%; */
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 4px;
	text-wrap: nowrap;
}

.lower-dot {
	/* margin-top: 6.5px !important; */
	margin-top: 3px !important;
	margin-bottom: 3.5px;
	margin-left: 8px;
	margin-right: 8px;
	font-weight: 100;
	display: flex;
	align-items: flex-end;
}

.stats-text-small {
	font-size: 13px;
	font-weight: 500;
}

.plain-text {
	font-size: 16px;
	font-weight: 300;
}

.fit-photo {
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 50%;
}

.show-page-general-padder {
	padding: 48px 0px;
}

.horizontal-rule-top-border {
	border-top: 1px solid rgb(221, 221, 221);
}

/* ------------------ HEADER ------------------ */
/* ------------------ HEADER ------------------ */
/* ------------------ HEADER ------------------ */

.show-page-outer-container {
	container-type: inline-size;
	container-name: overall-page-width;
	display: flex;
	justify-content: center;
}

.show-page-dynamic-inner-container {
	/* min-width: 1440px; */
	max-width: 1440px;
	padding: 0px 160px;
	box-sizing: border-box;
}


.show-header-full-header {
	width: 100%;
	height: 86px;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}

.show-header-inner-header {
	padding-top: 24px;
	width: 100%;
	display: block;
}

.show-title {
	padding-bottom: 4px;
}

.show-header-details {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.show-header-stats {
	display: flex;
	flex-direction: row;
}

.rating-review-stats {
	display: flex;
	align-items: center;
	margin-top: 4px;
	margin-top: 0px;
	height: 24px;
}

.star-icon {
	margin-right: 4px;
}

.header-rating {
	padding-right: 4px;
}

.header-review-count {
	text-decoration: underline;
	cursor: pointer;
}

.show-header-buttons {
	padding-bottom: 5px;
	display: flex;
	margin-right: -8px;
	margin-top: -8px;
	font-size: 14px;
}

.show-header-btn {
	cursor: pointer;
	margin-top: 8px;
	padding: 8px;
	border-radius: 8px;
}

.show-header-btn:hover {
	background-color: #f7f7f7;
}

.show-header-btn-text {
	text-decoration: underline;
}

.show-save-btn {
	margin-left: 6px;
}

/* ------------------ PHOTOS ------------------ */
/* ------------------ PHOTOS ------------------ */
/* ------------------ PHOTOS ------------------ */

/* 'Crown' of photo wall - side padding, and upper padding. */
.photo-wall-crown {
	width: 100%;
	box-sizing: border-box;
	padding-top: 24px;
	display: flex;
	justify-content: center;
}

/* Actual photo wall nestled within 'crown' */
.photo-wall-container {
	/* ACTUALLY - need it to not shrink, airbnb maintains a static height */
	/* for approx full to half screen browser widths... */
	/* UPDATE - this dynamic width setting needs to work for more than just photos */

	/* INCORRECT LOGIC, BUT HONORABLE MENTIONS: */
	/* min-width: 1120px; */
	/* aspect-ratio: 1120/394.5; */
	height: 394px;
	width: 100%;
	/* border-radius: 12px; */
	display: block;
	
}


@media (max-width: 1270px) {
	.show-page-dynamic-inner-container {
		min-width: unset;
		width: 100%;
		padding: 0px 80px;
		
	}
}
@media (max-width: 1120px) {
	.show-page-dynamic-inner-container {
		min-width: unset;
		width: 100%;
		padding: 0px 40px;
		
	}
}

/* airbnb gives exactly entire left half of photo wall space to one big photo */
.photo-wall-halver {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
}

/* the remaining right half is split into quadrants, */
/* AFTER first applying a padding-left within that half */
.photo-wall-big {
	flex-basis: 50%;
	flex-grow: 1;
	box-sizing: border-box;
}

.photo-wall-grid {
	flex-basis: 50%;
	flex-grow: 1;
	box-sizing: border-box;
	padding-left: 8px;
	/* Above ensures as a flex item, this is exactly half of entire photo wall, */
	/* including its padding-left. flex-basis shared evenly among 2 flex items */
	/* must be 50% or below, and box-sizing: border-box is needed if padding. */
	/* Below, setup as grid container. */
	display: grid;
	grid-template-areas: 
		"one two"
		"three four"
		;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}

.photo-wall-individual-photo-div {
	overflow: hidden;

}

.listings-show-photo-shimmer {
	width:100%;
	height:100%;
	background-color: rgba(235, 235, 244, 0.6);
	animation: 2.0s ease-in-out 0s infinite pulseShimmer;
}

@keyframes pulseShimmer {
	0% { 
		background-color: rgba(235, 235, 244, 0.3);
	}
	50% { 
		background-color: rgba(235, 235, 244, 0.6); 
	}
	100% { 
		background-color: rgba(235, 235, 244, 0.3);
	}
}

.listings-show-photo {
	width:100%;
	height:100%;
	object-fit: cover;
	animation: 0.2s linear 0s 1 listingsShowPhotoFadeIn;
}

@keyframes listingsShowPhotoFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.photo-wall-big > img, .photo-wall-big > .listings-show-photo-shimmer {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.photo-wall-one {
	grid-area: one;
}

.photo-wall-two {
	grid-area: two;
}
.photo-wall-two > img, .photo-wall-two > .listings-show-photo-shimmer {
	border-top-right-radius: 12px;
}

.photo-wall-three {
	grid-area: three;
}
.photo-wall-four {
	grid-area: four;
}
.photo-wall-four > img, .photo-wall-four > .listings-show-photo-shimmer {
	border-bottom-right-radius: 12px;
}

/* ------------------ LISTING DETAILS ------------------ */
/* ------------------ LISTING DETAILS ------------------ */
/* ------------------ LISTING DETAILS ------------------ */

/* Outer container for main div which is the flex container for entire section */
.details-outer-container{
	width: 100%;
	display: block;
}

/* Main div for listing details, flex */
.details-main-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: flex-start;
}


/* ------------------ LISTING DETAILS LEFT SIDE ------------------ */
/* ------------------ LISTING DETAILS LEFT SIDE ------------------ */
/* ------------------ LISTING DETAILS LEFT SIDE ------------------ */


.details-left-container {
	flex-grow: 1;
	flex-basis: 58.33%;	
	display: block;
	/* max-width: 50%; */
	width: 58.3336%;
}

.details-card-stats-container {
	height: 100%;
	width: 100%;
}

.details-card-stats-padder {
	padding-top: 48px;
	padding-bottom: 24px;
}

.details-card-stats-horizontal-splitter {
	display: flex;
	justify-content: space-between;
}

.details-card-stats-profile-thumbnail {
	background-color: white;
	margin-left: 16px;
	width: 56px;
	height: 56px;
}

.details-card-stats-profile-thumbnail > img {
	border-radius: 50%;
}

.details-card-stats-text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-content: flex-start;
}

.details-card-stats-text-top {
	margin-bottom: 12px;
}

.details-card-stats-text-bottom {
	/*  */
}

.details-card-higlights-padder {
	padding: 32px 0px;
}

/* LISTING FEATURES - START */
/* LISTING FEATURES - START */
/* LISTING FEATURES - START */

.listing-features-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.listing-feature-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	letter-spacing: 0.1px;
}

.listing-feature-card:first-child {
	margin-bottom: 22px;
}

.listing-feature-icon {
	/* box-sizing: border-box; */
	width: 24px;
	padding-right: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.listing-feature-icon .fa-solid {
	font-size: 20px;
}

.listing-feature-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.listing-feature-header {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 12px;
}

.listing-feature-desc {
	font-size: 14px;
	font-weight: 300;
	color: #717171;
}

/* LISTING FEATURES - END */
/* LISTING FEATURES - END */
/* LISTING FEATURES - END */

/* DESCRIPTION - START */
/* DESCRIPTION - START */
/* DESCRIPTION - START */

.listing-show-description-text {
	line-height: 1.4em;
}

/* DESCRIPTION - END */
/* DESCRIPTION - END */
/* DESCRIPTION - END */

/* SLEEP - START */
/* SLEEP - START */
/* SLEEP - START */

.sleep-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 24px;
}

.sleep-text {
	align-self: flex-end;
}

.sleep-buttons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sleep-counter {
	font-size: 14px;
	font-weight: 300;
	margin-right: 16px;
}

.sleep-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.08);
	border-radius: 50%;
	box-shadow: 0 0 0 1px transparent,0 0 0 4px transparent, 0 2px 4px rgba(0,0,0,0.18);
	cursor: pointer;
}

.sleep-button:hover {
	box-shadow: 0 0 0 1px transparent,0 0 0 4px transparent, 0 6px 16px rgba(0,0,0,0.12);
}

.sleep-button-pressed {
	box-shadow: none !important;
}

.sleep-button:last-child {
	margin-left: 12px;
}

.sleep-button .fa-solid {
	font-size: 0.5em;
}

.sleep-carousel-container {
	/*  */
}

.sleep-carousel {
	display: flex;
	overflow-x: scroll;
  white-space: nowrap;
	width: 100%;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 16px;

	/* hide scrollbar: IE, Edge, FireFox: */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.sleep-carousel::-webkit-scrollbar {
	/* hide scrollbar: Chrome, Safari, Opera: */
	display: none;
}

.carousel-photo {
	flex: 1 0 auto;

	display: inline-block;
  width: calc(50% - 8px); /* Two items per row with some spacing */
	aspect-ratio: 3/2;
	scroll-snap-align: start;
}

.carousel-photo:first-child {
	/* padding-left: 0px; */
}

.carousel-photo:last-child{
	/* margin-right: 0px; */
}
.carousel-photo > img, .carousel-photo > .listings-show-photo-shimmer {
	/* With border radius, actually causes next item to bleed through on edge after scroll snap somtimes... */
	border-radius: 8px;
}

.sleep-carousel-container::-webkit-scrollbar {
	display: none;
}


/* SLEEP - END */
/* SLEEP - END */
/* SLEEP - END */

/* CALENDAR - START */
/* CALENDAR - START */
/* CALENDAR - START */

.listing-show-calendar-subtitle {
	padding-top: 8px;
	color: rgb(113,113,113);
	font-size: 14px;
	font-weight: 300;
	height: 36px;
}

.listing-calendars-box {

}

.calendar-clear-dates-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.clear-dates-button {
	margin-right: 10px;
	color: black;
	font-size: 14px;
	font-weight: 500;
	text-decoration: underline;
	cursor: pointer;
}

/* CALENDAR - END */
/* CALENDAR - END */
/* CALENDAR - END */


/* ------------------ LISTING DETAILS RIGHT SIDE ------------------ */
/* ------------------ LISTING DETAILS RIGHT SIDE ------------------ */
/* ------------------ LISTING DETAILS RIGHT SIDE ------------------ */

.details-right-container {
	flex-grow: 1;
	flex-basis: 41.67%;
	display: block;
	/* How else to get this container of sticky container to stretch to its full container height?  */
	position: relative;
	align-self: stretch;
	box-sizing: border-box;
	padding-left: 93.32px;
	width: 33.3333333%;
	padding-left: 8.33333333%;
}

.floating-form-container {
	/* DISABLED BELOW DUE TO SCROLL BUG ON 7/20 */
	/* overflow: scroll; */
	width: 100%;
	/* height: 323px; */
	position: sticky;
	
	padding-top: 48px;
	padding-bottom: 48px;

	top:80px;
}

.floating-form-inner-container {
	/* IMPORTANT!!!! */
	/* THESE TWO LINES PREVENT INNER CONTAINER CONTENT FROM */
	/* SPILLING INTO OUTER CONTAINER PADDING */
	height: 100%;
	/* DISABLED BELOW DUE TO SCROLL BUG ON 7/20 */
	/* overflow: scroll; */
	
	padding: 24px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.floating-form-inner-container > * {
	display: flex;
	flex-direction: column;
}

.form-stats-header-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 24px;
}
.form-stats-header-container > div:first-child {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.form-stats-header-container > div:last-child {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;	
}

.form-stats-header-container .fa-star {
	font-size: 0.8em;
}

.form-num-reviews {
	text-decoration: underline;
	cursor: pointer;
	color: #717171;
}

.date-inputs {
	position: relative;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.checkin-button, .checkout-button {
	position: relative;
	width: 100%;
	max-width: 50%;
}

.checkin-input, .checkout-input {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	height: 56px;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 12.5px;
	padding: 26px 0px 10px 12px;
}

.checkin-input:focus, .checkout-input:focus {
	outline:none;
}

.checkin-input {
	border:1px rgb(176, 176, 176) solid;
	border-top-left-radius: 8px;
}

.checkout-input {
	border: 1px rgb(176, 176, 176) solid;
	border-top-right-radius: 8px;
	border-left: none;
}

.checkin-placeholder, .checkout-placeholder {
	position: absolute;
	font-size: 10.5px;
	font-weight: 600;
	top: 12px;
	left: 14px;
	z-index: 5;	
}

.num-guests-container {
	position: relative;
	width: 100%;
}

.num-guests-selector {
	width: 100%;
	height: 56px;
	border:none;
	border:1px rgb(176, 176, 176) solid;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top:none;
	font-size: 12.5px;
	padding-top: 6px;
	padding-right: 8px;
	padding: 26px 8px 10px;
	option {
		font-size: 12.5px;
		text-indent: 0px;
	}
}

.num-guests-selector:focus {
	outline: none;
}

.num-guests-placeholder {
	position: absolute;
	font-size: 10.5px;
	font-weight: 600;
	top: 12px;
	left: 14px;
	z-index: 5;	
}

.reserve-button-container {
	position: relative;
}

.reserve-btn-tooltip {
	position: absolute;
	top: -25%;
	left: 50%;
	transform: translateX(-50%);
	background-color: pink;
	/* width: 30%; */
	/* height: 50px; */
	white-space: nowrap;
	padding: 7px;
	border-radius: 7px;
	background-color: rgb(63, 63, 63);
	color: white;
	box-shadow: 1px 1.5px 1px 0.5px gray;
	transition: all 0.7s;
	opacity: 0;
	display: none;
}

.reserve-btn-tooltip-visible {
	/* opacity: 1; */
	display: block;
	animation: fadeInReserveToolTip 0.7s linear 0s 1 forwards normal;
}

.reserve-btn-tooltip-recede {
	display: block;
	animation: fadeInReserveToolTipReverse 0.7s linear 0s 1 forwards normal;
}

@keyframes fadeInReserveToolTip {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInReserveToolTipReverse {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


.reserve-button {
	width: 100%;
	background-color: #FF0000;
	color: white;
	padding: 14px 24px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition: transform 0.075s, background-color 0.4s;
}

.reserve-button:hover {
	background-color: #d00000;
}

.disabled-reserve-button {
	cursor:not-allowed;
	width: 100%;
	background-color: rgb(221, 221, 221);
	color: gray;
	padding: 14px 24px;
	border-radius: 8px;
	border: none;
}

.mouse-down-reserve-btn {
	transform-origin: center;
	transform: scale(0.96);
}

.reservation-form {
	border-radius: 8px;
}

.reservation-form > * {
	outline: 0px solid transparent;
}

.num-guests-input{
	width: 100%;
	outline: 0;
	border-width: 0px;
	border-color:rgba(0, 0, 0, 0);
}

.form-inputs {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-sizing: border-box;
}

.report-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.report-button {
	font-size: 14px;
	font-weight: 500;
	color: #717171;
}

.report-button-text {
	text-decoration: underline;
}

.reservation-complete {
	width: 100%;
	height: 100%;
	padding-bottom: 24px;
	font-size: 14px;
	font-weight: 500;
}

.reservation-incomplete {
	width: 100%;
	height: 100%;
	padding-bottom: 24px;
	font-size: 14px;
}

.reservation-incomplete::after {
	/*  */
}

.reservation-incomplete:hover {
	/*  */
}

.reserve-form-price-line {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 300;
}

.total-before-taxes {
	font-weight: 500;
}

.form-padding-top {
	padding-top: 24px;
}

.form-padding-bottom {
	padding-bottom: 24px;
}

/* ------------------ REVIEWS ------------------ */
/* ------------------ REVIEWS ------------------ */
/* ------------------ REVIEWS ------------------ */

.review-header {
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
}

.review-header-modal {
	margin-bottom: 24px;
}

.review-header-toprow {
	display: flex;
	flex-direction: row;
}

.review-header-toprow-modal {
	font-size: 30px;
	font-weight: 600;
	line-height: 36px;
}

.review-star-container {
	margin-right: 8px;
	font-size: 0.65em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.rev-star-modal {
	font-size: 0.7em;
	margin-right: 14px;
}

.under-3-reviews-placeholder {
	padding-top: 8px;
	font-size: 14px;
	font-weight: 300;
	color: #717171;
}

.show-page-review-section-padder {
	padding-bottom: 0px;
	margin-bottom: 48px;
}

/* MAPS */
/* MAPS */

.listing-show-map-header {
	padding-top: 48px;
	padding-bottom: 24px;
	margin-bottom: 0px;
}

.listing-show-map-subheader {
	padding-bottom: 24px;
}

/* MAPS */
/* MAPS */