.show-header-full-header {
	
	height: 86px;
	/* max-width: 1440px;
	box-sizing: border-box; */
	padding: 0px 160px;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}

.show-header-inner-header {
	padding-top: 24px;
	width: 100%;
	display: block;
}

.show-title {
	width: 100%;
	font-size: 26px;
	font-weight: 600px;
	margin-bottom: 4px;
	text-wrap: nowrap;
	/* height: 33.5px; */
}

.show-header-details {
	/* background-color: beige; */
	/* height: 28px; */
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.rating-review-stats {
	display: flex;
	align-items: center;
	margin-top: 8px;
	height: 24px;
	font-size: 13px;
	font-weight: 500;
	background-color: lightgray;
}

.star-icon {
	margin-right: 4px;
}

.header-review-count {
	padding-left: 4px;
}

/* ------------------ PHOTOS ------------------ */
/* ------------------ PHOTOS ------------------ */
/* ------------------ PHOTOS ------------------ */

/* 'Crown' of photo wall - side padding, and upper padding. */
.photo-wall-padding {
	background-color: lightcyan;
	box-sizing: border-box;
	padding: 24px 160px 0px;
	/* display: flex; */
	/* justify-content: stretch; */
	/* align-items: stretch; */
	/* padding-top: 24px; */
}

/* Actual photo wall nestled within 'crown' */
.photo-wall-container {
	border: 1px black solid;
	background-color: pink;
	width: 100%;
	aspect-ratio: 1120/394.5;
	border-radius: 12px;
	box-sizing: border-box;
	display: block;

}

/* airbnb gives exactly entire left half of photo wall space to one big photo */
.photo-wall-halver {
	background-color: orange;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
}

/* the remaining right half is split into quadrants, */
/* AFTER first applying a padding-left within that half */
.photo-wall-big {
	background-color: blue;
	flex-basis: 33%;
	flex-grow: 1;
	box-sizing: border-box;
}

.photo-wall-grid {
	background-color: purple;
	flex-basis: 33%;
	flex-grow: 1;
	box-sizing: border-box;
	padding-left: 8px;
	/* Above ensures as a flex item, this is exactly half of entire photo wall, */
	/* including its padding-left. flex-basis shared evenly among 2 flex items */
	/* must be 50% or below, and box-sizing: border-box is needed if padding. */
	/* Below, setup as grid container. */
	display: grid;
	grid-template-areas: 
		"one two"
		"three four"
		;
	gap: 8px;
}












.photo-wall-item {
	background-color: pink;
}
/* .photo-wall-one {grid-area: one;} */
/* .photo-wall-two {grid-area: two;} */
/* .photo-wall-three {grid-area: three;} */
/* .photo-wall-four {grid-area: four;} */