.footer-container {
	box-sizing: border-box;
	width: 100%;
	background-color: #F7F7F7;
	border-top: 1px solid #DDDDDD;
	padding-left: 160px;
	padding-right: 160px;
	padding-top: 24px;
	padding-bottom: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #222222;
	font-weight: 300;
}

.footer-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.footer-dot {
	margin-left: 8px;
	margin-right: 8px;
}

.footer-icon-links {
	display: flex;
	flex-direction: row;
}

.footer-icon-links > div {
	font-size: 22px;
}

.footer-icon-links > div:last-child {
	margin-left: 16px;
}