/* PROFILE PAGE MAIN */
/* PROFILE PAGE MAIN */
/* PROFILE PAGE MAIN */

.profile-page-outer-container {
	/* container-type: inline-size; */
	/* container-name: overall-page-width; */
	display: flex;
	justify-content: center;
	/* background-color: lightcyan; */
}

.profile-page-inner-container {
	min-width: 1440px;
	padding: 0px 80px;
	box-sizing: border-box;
	/* background-color: lightskyblue; */
}

.heading-container {
	width: 100%;
	padding-top: 36px;
	padding-bottom: 24px;
}

.heading-container-text {
	font-size: 32px;
}

.trip-cards-outer-container-upcoming {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgb(221,221,221);
}

.trip-cards-outer-container-past {
	padding-top: 24px;
	padding-bottom: 48px;
	border-bottom: 1px solid rgb(221,221,221);
}

.trip-cards-main-container {
	margin-top: 24px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 52px;
	row-gap: 24px;
}

/* TRIP CARD MAIN */
/* TRIP CARD MAIN */
/* TRIP CARD MAIN */

.trip-card {
	box-sizing: border-box;
	width: 100%;
	/* height: (210 - 24 - 24)px; */
	height: 210px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 22px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.trip-text-main {
	padding: 24px;
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.trip-text-title-main {
	height: 100%;
	flex-grow: 1;
	margin-bottom: 24px;
}

.trip-text-title-actual {
	/*  */
}

.trip-text-title-host {
	margin-top: 6px;
	font-size: 14px;
	font-weight: 300;
}

.trip-text-details-main {
	height: 100%;
	padding-top: 16px;
	padding-bottom: 1px;
	border-top: 1px solid rgb(221,221,221);
	flex-grow: 1;
	display: flex;
	width: 100%;
	align-items: stretch;
}

.trip-text-details-date-info {
	margin-right: 24px;
	display: flex;
	flex-direction: column;
}

.trip-text-details-address-info {
	padding-left: 24px;
	border-left: 1px solid rgb(221,221,221);
	display: flex;
	flex-direction: column;
}

.trip-text-details-date-info > *, .trip-text-details-address-info > * {
	font-size: 18px;
	font-weight: 300;
	width: 100%;
}

.trip-text-details-date-info > *:last-child, .trip-text-details-address-info > *:last-child {
	font-size: 14px;
	font-weight: 300;
}

.trips-not-found {
	font-style: italic;
}



/* PHOTO SIDE */
/* PHOTO SIDE */
/* PHOTO SIDE */


.trip-photo-main {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	/* width: 100%; */
	width: 383px;
	flex-grow: 1;
	background-color: pink;
}

.trip-photo-main > img {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	width:100%;
	height:100%;
	object-fit: cover;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-container {
	padding-top: 24px;
	padding-bottom: 36px;
}

.footer-text {
	gap: 8px;
	display: flex;
	flex-direction: row;
}

.footer-links {
	text-decoration: underline;
}