/* PROFILE PAGE MAIN */
/* PROFILE PAGE MAIN */
/* PROFILE PAGE MAIN */

.profile-page-outer-container {
	/* container-type: inline-size; */
	/* container-name: overall-page-width; */
	display: flex;
	justify-content: center;
	/* background-color: lightcyan; */
}

.profile-page-inner-container {
	min-width: 1440px;
	padding: 0px 80px;
	box-sizing: border-box;
	/* background-color: lightskyblue; */
}

.heading-container {
	width: 100%;
	padding-top: 36px;
	padding-bottom: 24px;
}

.heading-container-text {
	font-size: 32px;
}

.trip-cards-outer-container-active {
	padding-top: 24px;
	/* padding-top: 72px; */
	padding-bottom: 72px;
	border-bottom: 1px solid rgb(221,221,221);
}

.trip-cards-outer-container-upcoming {
	/* padding-top: 24px; */
	padding-top: 72px;
	padding-bottom: 72px;
	border-bottom: 1px solid rgb(221,221,221);
}

.trip-cards-outer-container-past {
	/* padding-top: 24px; */
	padding-top: 72px;
	padding-bottom: 48px;
	border-bottom: 1px solid rgb(221,221,221);
}

.trip-cards-main-container {
	/* margin-top: 24px; */
	/* display: grid; */
	/* grid-template-columns: 2fr 1fr;
	column-gap: 52px;
	row-gap: 24px; */
	display: flex;
	flex-direction: column;
	padding-top: 24px;

}

/* TRIP CARD MAIN */
/* TRIP CARD MAIN */
/* TRIP CARD MAIN */

.trip-card {
	box-sizing: border-box;
	width: 100%;
	/* height: (210 - 24 - 24)px; */
	height: 210px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.17) 3px 3px 20px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-bottom: 24px;
}

.trip-text-main {
	padding: 24px;
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.trip-text-title-main {
	height: 100%;
	flex-grow: 1;
	margin-bottom: 24px;
}

.trip-text-title-actual {
	/*  */
}

.trip-text-title-host {
	margin-top: 6px;
	font-size: 14px;
	font-weight: 300;
}

.trip-text-details-main {
	height: 100%;
	padding-top: 16px;
	padding-bottom: 1px;
	border-top: 1px solid rgb(221,221,221);
	flex-grow: 1;
	display: flex;
	width: 100%;
	align-items: stretch;
}

.trip-text-details-date-info {
	margin-right: 24px;
	display: flex;
	flex-direction: column;

	/* Need to change this to be more dynamic not hard coded */
	width: 50px;
}

.trip-text-details-address-info {
	padding-left: 24px;
	border-left: 1px solid rgb(221,221,221);
	display: flex;
	flex-direction: column;
	margin-right: 24px;
	overflow-x: hidden;

	/* Need to change this to be more dynamic not hard coded */
	width: 230px;
}

.update-form-container {
	padding-left: 24px;
	border-left: 1px solid rgb(221,221,221);
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.update-form-inner-container { 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 16px;
	font-size: 14px;
}

.update-field {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 4px;
}

.trips-date-input {
	width: 130px;
}

.trips-update-field:not(:last-child) > input, .trips-update-field > select {
	border-radius: 8px;
	border:1px rgb(176, 176, 176) solid;
}

.trip-crud-buttons {
	justify-content: center !important;
}

.trip-crud-buttons > input {
	box-sizing: border-box;
	cursor: pointer;
	width: 100%;
	/* background-color: white; */
	outline: none;
	border: none;
	padding: 8px;
	margin: 0px;

	border-radius: 8px;
	/* border: 1px solid #222222; */
	padding: 6px 12px;
	cursor: pointer;

	transition: all 0.3s;
}

.trip-crud-buttons >.trip-crud-btn-enabled {
	color: white;
	background-color: red;
	border: none !important;
}

.trip-crud-buttons >.trip-crud-btn-disabled {
	background-color: rgb(221, 221, 221);
	border: none !important;
	color: gray;
	cursor: not-allowed;
}

.trip-crud-buttons > input:nth-child(2) {
	border: none;
	color: white;
	background-color: rgb(152, 152, 152);
}

.trip-crud-btn-enabled {
	transition: all 0.3s;
	/* background-color: blue; */
}

.trip-crud-buttons > .trip-crud-btn-enabled:hover {
	color: white;
	background-color: pink;
}

.trip-crud-buttons > input:nth-child(2):hover {
	color: #F7F7F7;
	background-color: black;
}

.trip-crud-buttons > input:nth-child(1) {
	/* border-bottom: 1px solid black; */
}

.trip-card-reset-box {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.3s;
}

.trip-card-reset-box:hover {
	background-color: #F7F7F7;
}

.trip-card-reset-box .fa-solid {
	cursor: pointer;
}

.trip-text-details-date-info > *, .trip-text-details-address-info > * {
	font-size: 16px;
	font-weight: 300;
	width: 100%;
}

.trip-text-details-date-info > *:last-child, .trip-text-details-address-info > *:last-child {
	padding-top: 8px;
	/* padding-bottom: 4px; */
	font-size: 14px;
	font-weight: 300;
}

.trips-not-found {
	font-style: italic;
}



/* PHOTO SIDE */
/* PHOTO SIDE */
/* PHOTO SIDE */


.trip-photo-main {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	/* width: 100%; */
	width: 383px;
	flex-grow: 1;
	background-color: pink;
}

.trip-photo-main > img {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	width:100%;
	height:100%;
	object-fit: cover;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-container {
	padding-top: 24px;
	padding-bottom: 36px;
}

.footer-text {
	gap: 8px;
	display: flex;
	flex-direction: row;
}

.footer-links {
	text-decoration: underline;
}