.review-form-container {
	position: relative;
	height: 100%;
	width: 1032px;
	width: 800px;
	border-radius: 12px;
	background-color: white;
	flex-direction: column;
	justify-content: flex-start;
	max-height: 682px;

	animation: slideIn 0.4s both, fadeInModal 0.4s forwards;
	overflow: hidden;
}

.reviews-form-forehead {
	position: sticky;
	top: 0px;
	left: 0px;
	height: 72px;
	min-height: 72px;
}

.reviews-form-non-forehead {
	/* position: relative; */
	box-sizing: border-box;
	margin: 0px -8px;
	padding: 0px 32px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scroll-behavior: smooth;
	max-height: calc(682px - 72px);
}

.review-form-divider {
	height: 0px;
	width: 100%;
	border-bottom: 1px solid rgb(221,221,221);
	/* margin-top: 24px; */
	/* margin-bottom: 24px; */
}

.review-form-header {
	/* margin-top: 24px; */
	margin-bottom: 24px;
}

.review-form-section {
	margin-top: 12px;
	margin-bottom: 12px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.review-section-title {
	font-size: 15px;
	font-weight: 600;
	padding: 0.5px 0px;
}

.review-section-subtitle {
	font-size: 14.5px;
	padding: 0.5px 0px;
}

* .review-section-subtitle:last-child {
	/* padding-bottom: 12px; */
}

.review-body-textarea-container {
	padding-top: 12px;
	box-sizing: border-box;
	width: 100%;
	/* to fix text area pushing past the outside of container...not sure why */
	padding-right: 10px;
}

.review-body-textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 50px;
	max-height: 350px;
	padding: 5px;
	font-family: inherit;
	border-radius: 4px;
	/* color: rgb(221,221,221) */
	/* border: 1px solid red; */
}

.review-body-greater-section {
	padding-top: 12px;
	padding-bottom: 12px;
}

.review-ratings-greater-section {
	padding-top: 12px;
}

.review-rating-box {
	padding: 6px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.review-rating-box .fa-star {
	cursor: pointer;
	font-size: 1.5em;
	color: rgb(221,221,221);
}

.active-star .fa-star {
	color: #FF0000;
}

/* Very basic form incomplete handling */
.missing-fields-notice-section {
	/* width: 100%; */
	height: 14px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 6px;
}

.text-missing-section {
	/* width: 100%; */
	height: 14px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-top: 6px;
}

.star-missing-section {
	height: 14px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 12px;
	padding-top: 2px;
}

.form-incomplete-notice {
	color: red;
	font-size: 14px;
	font-weight: 300;
}

/* SUBMIT SECTION */
.review-form-submit-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
}

.review-form-submit {
	font-family: inherit;
	font-size: 16px;
	outline: none;
	border: none;
	cursor:pointer;
	border-radius: 8px;
	background-color: rgb(221,221,221);
	padding: 12px;
	transition: all 0.1s;
}

.review-form-submit:hover {
	background-color: #FF0000;
	color: white;
}

/* REVIEW COMPLETE DISPLAY */

.review-complete-display {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/* background-color: rgba(255,100,100,0.5); */
	overflow: hidden;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	opacity: 1;

	font-weight: 500;
	font-size: 1.5em;
	/* transition: all 0.4s ease-in; */
	/* background-color: white; */
	opacity: 0;
	background-color: rgba(0,0,0,0.05);
	animation: reviewCompleteDisplay 0.5s linear 0s 1 normal forwards;
}

@keyframes reviewCompleteDisplay {
	0% {
		opacity: 0;
		backdrop-filter: blur(0px);
	}
	100% {
		opacity: 1;
		backdrop-filter: blur(3px);
	}
	
}

.review-complete-display-active {
	/* background-color: rgba(255,255,255,0.5); */
	/* backdrop-filter: blur(3px); */
	/* opacity: 1; */
}

.review-complete-shimmer {
	position: absolute;
	background-color: white;
	/* top: 0px; */
	/* left: 0px; */
	width: 200%;
	height: 0px;
	transform-origin: center;
	transform: translateX(-350px) translateY(-350px) rotate(-45deg);
	opacity: 0;
}

.review-complete-shimmer-active {
	animation: shimmer 0.4s linear 0.675s forwards;
}

@keyframes shimmer {
	0% {
		opacity: 0;
		height: 0%;
	}
	50% {
		opacity: 1;
		height: 25%;
	}
	100% {
		opacity: 0;
		height: 0%;
		transform: translateX(500px) translateY(500px) rotate(-45deg);
	}
}

.review-complete-text {
	opacity: 0;
	color: white;
	animation: reviewCompleteText 0.4s ease-in 0.5s 1 normal forwards;
}

@keyframes reviewCompleteText {
	0% {
		opacity: 1;
		/* color: white; */
		/* text-shadow: white 0px 0px 4px ; */
		color: transparent;
		text-shadow:  10px 10px 25px white,
		 -10px 10px 25px white, 
		 10px -10px 25px white,
		 -10px 10px 25px white
		;
	}
	66% {
		/* opacity: 1; */
		/* color: white; */
		/* text-shadow: white 0px 0px 164px ; */
		/* border: 1px solid red; */
		/* padding: 5px; */
		color: white;
		text-shadow:  0px 0px 2px white,
		 -0px 0px 2px white, 
		 0px -0px 2px white,
		 -0px 0px 2px white
		 ;
	}
	/* 75% {
		opacity: 1;
		color: white;
		text-shadow: white 0px 0px 24px ;
	} */
	100% {
		opacity: 1;
		color: green;
		color: black;
		/* text-shadow:  1px 1px 1px green,
		 -1px 1px 1px green, 
		 1px -1px 1px green,
		 -1px 1px 1px green
		 ; */
	}
}