div.signup-form {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	max-width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid red
}