

/****************************/
/* UPPER NAV BAR HEADER */
/****************************/

/* Rename this UPPER NAV BAR, should be contained in a <header> */
.upper-navbar-header {
	height: 80px;
	width: 100%;
	position: sticky;
	top: 0px;
	box-sizing: border-box;
	display: block;
	background-color: white;
	/* padding: 48px; */
}

/****************************/
/* UPPER NAV BAR CONTAINER */
/****************************/

.upper-navbar-container {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	/* Padding changes - if it is full screen, 80px, else 40px */
	padding: 0px 80px;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.upper-navbar-logo-div {
	box-sizing: border-box;
	height: 80px;
	width: 100%;
	display: block;
	flex: 1 0 140px;
}

.upper-navbar-logo {
	height: 80px;
	display: inline-flex;
	align-items: center;
	position: relative;
	vertical-align: middle;
	font-size: 35px;
	color: red;
}

/****************************/
/* UPPER NAV BAR SEARCH BAR */
/****************************/

.upper-navbar-search-container {
	/* min-width: 352px; */
	height: 48px;
	
	flex: 0 1 auto; 
	display: block;
	padding: 0px 24px;
	box-sizing: border-box;

	/* text-align: center; */
	/* line-height: 20px; */
}

.upper-navbar-search {
	display: flex;
	height: 48px;
	width: 350px;
	border: 1px lightgray solid;
	border-radius: 40px;
	
	justify-content: space-around;
	align-items: center;
	
	box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
	transition: box-shadow 0.2s ease;

	color: #222222;

}

span.search-location-unopened {
	width: 1px;
	height: 1px;
}

span.search-date-unopened, span.search-people-unopened {
	width: 1px;
	height: 24px;
	background-color: rgb(221,221,221);
}

.upper-navbar-search > button {
	cursor: pointer;
	padding: 0px;
	margin: -1px;
	border: 1px solid rgba(0,0,0,0);
	/* border: 1px solid green; */
	background-color: rgba(0,0,0,0);
	appearance: none;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 14px;
	font-weight: 600;
}

button.search-location-unopened {
	/* width: 99px; */
	height: 46px;
	padding-left: 24px;
	padding-right: 16px;
	/* padding-right: 0px; */
}

button.search-date-unopened {
	/* width: 96px; */
	height: 46px;
	padding: 0px 16px;
}

button.search-people-unopened {
	/* width: 144px; */
	height: 46px;
	font-weight: 200;
	display: flex;
	align-items: center;
}

div.search-people-unopened-text {
	padding: 0px 16px;
}

div.search-people-unopened-magnifying {
	/* padding: 0px 16px; */
	height: 12px;
	width: 12px;
	padding: 10px;
	margin: 7px 7px 7px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	background-color: red;
	color: white;
	border-radius: 18px;
}



/********************************************************/
/* UPPER NAV BAR RIGHT: HOST/LANG - SESSION MENU */
/********************************************************/

.upper-navbar-right-div {
	/* Exists just to contain the nav, if not, then a `flex: 1 0 140` on the nav behaves weirdly*/
	box-sizing: border-box;
	height: 80px;
	width: 100%;
	display: block;
	flex: 1 0 140px;
}

.upper-navbar-right {
	height: 80px;
	/* flex: 1 0 140px; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.host-lang-buttons {
	height: 42px;
	/* width: 355px; */
	box-sizing: border-box;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* flex-grow: 1; */
}

.host-home-link {
	font-size: 14px;
	font-weight: 600;
	padding: 12px;
}

.lang-button-div {
	height: 42px;
	width: 40px;
	padding: 0px;

	box-sizing: border-box;
}

.lang-button {
	height: 18px;
	width: 16px;
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 12px;
	background-color: rgba(0,0,0,0);
}

/****************************/
/* NAV BAR CONTAINER */
/****************************/

.nav-bar-container {
	height: 60px;
	position: sticky;
	top:80px;
	background-color: lightsteelblue;
	padding: 0px 80px
}

/****************************/
/* NAV BAR LINKS */
/****************************/

ul.nav-bar-links {
	display: flex;
	flex-direction: row;
}
.nav-bar-links > li {
	margin-right: 10px;
}
.nav-bar-links > li:hover {
	color: yellow;
}

/****************************/
/* DROP DOWN MENU */
/****************************/

.profile-drop-menu {
	position:absolute;
	top: 30px;
	left: 30px;
	background-color: white;
	border: 1px solid pink;
	border-radius: 15px;
	padding: 5px;
	box-shadow: 2px 5px 15px #999999;
}

.profile-drop-menu:hover {
	box-shadow: 2px 5px 15px #888888;
}

.profile-drop-menu > li:hover {
	color: red;
}